@model PersonalFinance.Models.Plaid
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>The Main Dashboard</h2>
<br />
<div class="panel panel-primary  table-responsive">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
        <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: inherit">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span></span> @Model.start_date - @Model.end_date <b class="caret"></b>
        </div>
        <br />
        <br />
        <hr />
        @if (Model.Transaction_list is null || Model.Transaction_list.Count == 0)
        {
            <h3>No Data Available For This Timeframe!</h3>
        }
        else
        {
            <div id="bar-chart"></div>
            <hr />
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.Transaction_list)
                {
                        <tr>
                            <th scope="row">@transaction.Date.ToShortDateString()</th>
                            <td>@transaction.CategoryID</td>
                            <td>@transaction.Location_Name</td>
                            @if (@transaction.Location_City is null && @transaction.Location_State is null)
                            {
                                <td><em>Unknown</em></td>
                            }
                            else
                            {
                                <td>@transaction.Location_City, @transaction.Location_State</td>
                            }
                            <td>@transaction.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
@section Scripts {
    <!--Date Picker Scripts-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script type="text/javascript">
        $(function () {

            var start = @Model.start_date;
            var end = @Model.end_date;

            $('#reportrange').daterangepicker({

                startDate: start,
                endDate: end,

                ranges: {
                    'Today': [moment(), moment()],
                    'Week To Date': [moment().subtract(6, 'days'), moment()],
                    'Month To Date': [moment().startOf('month'), moment()],
                    'Year To Date': [moment().startOf('year'), moment()],
                    'One Year': [moment().subtract(12, 'month'), moment()]
                }

            });

            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {

                 $.post('@Url.Action("Main","Dashboard")', {
                    dates: { start_date: picker.startDate.format("MM/DD/YYYY"), end_date: picker.endDate.format("MM/DD/YYYY") }
                }, function () {
                    window.location.reload(true);
                });
            });
        });
    </script>

    <!--Morris Charts Scripts-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var data = @Html.Raw(Json.Encode(Session["areachart"]))
            new Morris.Bar({
                // ID of the element in which to draw the chart.
                element: 'bar-chart',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: data,
                xkey: 'date',
                ykeys: ['amount'],
                labels: ['Net Transactions'],
                fillOpacity: 0.6,
                hideHover: 'auto',
                resize: true,
                barColors: ['#18bc9c'],
                barShape: 'soft',
            });
        });



    </script>
}
