@model PersonalFinance.Models.Plaid
@{
    ViewBag.Title = "Account Sync - Onboarding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step col-xs-4">
                <a href="@Url.Action("GetStarted", "Account")" role="button" class="btn btn-default btn-circle">1</a>
                <p><small>Getting Started</small></p>
            </div>
            <div class="stepwizard-step col-xs-4">
                <a href="@Url.Action("Onboarding", "Account")" role="button" class="btn btn-default btn-circle">2</a>
                <p><small>Goals</small></p>
            </div>
            <div class="stepwizard-step col-xs-4">
                <a href="@Url.Action("AccountViewSync", "Account")" role="button" class="btn btn-success btn-circle">3</a>
                <p><small>Account Sync</small></p>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary setup-content">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
        <h3>Sync Up Your Accounts</h3>
        @ViewBag.StatusMessage
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="form-group">

                @if (Model.Has_accounts)
                {
                    <ul class="list-group">
                        @foreach (var account in Model.Account_list)
                        {
                            <li class="list-group-item">
                                <span class="badge">$@account.Balance</span>
                                <b>@account.AccountName</b>

                            </li>
                        }
                    </ul>

                    <button class="btn btn-primary" id="link-button" type="button">Add Another Account</button>

                    <a href="@Url.Action("Main", "Dashboard")" role="button" class="btn btn-success">All Set!</a>
                }
                else
                {
                <p>You have no accounts synced! </p>

                <button class="btn btn-primary" id="link-button" type="button">Add An Account</button>
                }
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script type="text/javascript">
        var handler = Plaid.create({
            clientName: 'Plaid Walkthrough Demo',
            env: 'sandbox',
            key: 'f326b59ea06cf5309ebd2861388d13', // Replace with your public_key to test with live credentials
            product: ['auth', 'transactions'],
            onSuccess: function (public_token, metadata) {
                // Send the public_token to your app server.
                // The metadata object contains info about the institution the
                // user selected and the account ID, if `selectAccount` is enabled.
                $.post('@Url.Action("AccountViewSync","Account")', {
                    public_token: public_token
                }, function () {
                    window.location.reload(true);
                });
            },
            onExit: function (err, metadata) {
                //User exited pop up
                if (err != null) {
                    // The user encountered a Plaid API error prior to exiting.
                }
                // metadata contains information about the institution
                // that the user selected and the most recent API request IDs.
                // Storing this information can be helpful for support.
            }
        });

        $('#link-button').on('click', function (e) {
            handler.open();
            // Alternatively, you can have a specific institution
            // prompt for authentication. Example:
            //
            // handler.open('ins_100000');
            //
            // This will open Link with Union Bank as the institution.
        });
    </script>

}
