@model PersonalFinance.Models.Plaid
@{
    ViewBag.Title = "Account Sync - Onboarding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-center animated slideInDown">
    <div class="row">
        <div class="col-lg-12">
            <div class="view-header">
                <div class="header-icon">
                    <i class="pe page-header-icon pe-7s-piggy"></i>
                </div>
                <div class="header-title">
                    <h3>Sync Your Accounts</h3>
                    <small>
                    </small>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            @if (Model.Has_accounts)
            {
                foreach (var institution in Model.Institution_list)
                {
                    <div class="dd" id="nestable">
                        <ol class="dd-list">
                            <li class="dd-item" data-id="1">
                                <div class="dd-handle">
                                    <span class="h3"><i class="fa fa-bank text-warning"></i></span>
                                    <b class=" h3 text-warning">@institution</b>
                                </div>
                                <ol class="dd-list">
                                    @foreach (var account in Model.Account_list)
                                    {
                                        if (account.Institution_name.Equals(institution))
                                        {
                                                            <li class="dd-item" data-id="2">
                                                                <div class="dd-handle">
                                                                    <span class="pull-right badge"> $@account.Balance</span>
                                                                    <text>@account.AccountName</text>
                                                                </div>
                                                            </li>
                                                        }

                                                    }
                                                </ol>
                                        </ol>
                                    </div>
                                }
                <button class="btn btn-primary" id="link-button" type="button">Add Another Account</button>

                <a href="@Url.Action("Main", "Dashboard")" role="button" class="btn btn-accent">All Set!</a>
            }
            else
            {
                <h4>You have no accounts synced!</h4>
                <small> Click the button below to get started. </small>
                <br />
                    <br />
                        <button class="btn btn-primary" id="link-button" type="button">Add An Account</button>
            }
        </div>
    </div>
</div>


<script src="~/Content/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/Content/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/vendor/sparkline/index.js"></script>
<script src="~/Content/vendor/chart.js/dist/Chart.min.js"></script>

<script src="~/Content/vendor/nestable/jquery.nestable.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script type="text/javascript">
        var handler = Plaid.create({
            clientName: 'Plaid Walkthrough Demo',
            env: 'development',
            key: 'f326b59ea06cf5309ebd2861388d13', // Replace with your public_key to test with live credentials
            product: ['transactions'],
            onSuccess: function (public_token, metadata) {
                // Send the public_token to your app server.
                // The metadata object contains info about the institution the
                // user selected and the account ID, if `selectAccount` is enabled.
                $.post('@Url.Action("AccountViewSync","Account")', {
                    data: { public_token: public_token, name: metadata.institution.name}
                }, function () {
                    window.location.reload(true);
                });
            },
            onExit: function (err, metadata) {
                //User exited pop up
                if (err != null) {
                    // The user encountered a Plaid API error prior to exiting.
                }
                // metadata contains information about the institution
                // that the user selected and the most recent API request IDs.
                // Storing this information can be helpful for support.
            }
        });

        $('#link-button').on('click', function (e) {
            handler.open();
            // Alternatively, you can have a specific institution
            // prompt for authentication. Example:
            //
            // handler.open('ins_100000');
            //
            // This will open Link with Union Bank as the institution.
        });
</script>
