@using PersonalFinance.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sign in";
}
<head><script async src='https://www.google.com/recaptcha/api.js'></script></head>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success container-fluid col-md-4 col-md-offset-4" role="alert">
        <b>Great! </b><span>@ViewBag.Message</span>
    </div>
}
<div class="container-center animated slideInDown">
    <div class="view-header">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-unlock"></i>
        </div>
        <div class="header-title">
            <h3>Sign In</h3>
            <small>
                Please enter your credentials to login
            </small>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-filled">
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form>
                        <row class="col-xs-10 col-xs-offset-1">
                            <div class="form-group">
                                <label class="control-label">Username</label>
                                <div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "example@gmail.com" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </row>
                        <row class="col-xs-10 col-xs-offset-1">
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @name = "password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <a class="help-block small" href="@Url.Action("ForgotPassword","Account")">Forgot Your Password?</a>
                                @*<div class="col-xs-offset-3">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>*@
                                @*<div>
                                    <div class="g-recaptcha" data-sitekey="6Lc0LzYUAAAAACz23DrvGOt9rfQx0yfGQ7HyYEuj" style="transform:scale(0.85);-webkit-transform:scale(0.85);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                                </div>*@ 
                            </div>
                        </row>
                        <div class="col-xs-offset-3">
                            <input type="submit" value="Log in" class="btn btn-accent" />
                            <a class="btn btn-info" href="@Url.Action("Register","Account")">Register</a>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

