@model PersonalFinance.Models.UpdateGoalIDModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Getting Started";
}

<div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step col-xs-4">
                <a href="@Url.Action("GetStarted", "Account")" role="button" class="btn btn-default btn-circle">1</a>
                <p><small>Getting Started</small></p>
            </div>
            <div class="stepwizard-step col-xs-4">
                <a href="@Url.Action("Onboarding", "Account")" role="button" class="btn btn-success btn-circle">2</a>
                <p><small>Goals</small></p>
            </div>
            <div class="stepwizard-step col-xs-4">
                <a href="@Url.Action("AccountViewSync", "Account")" role="button" class="btn btn-default btn-circle">3</a>
                <p><small>Account Sync</small></p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
        <h3>Goal Selection</h3>
        <br />
        @using (Html.BeginForm("Onboarding", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group col-md-4 col-sm-offset-1">
                <label>Track A</label>
                <p> A list of potential things that fall under this goal track</p>
                <div class="col-md-2">
                    @Html.RadioButtonFor(m => m.GoalID, 1)
                </div>
            </div>
            <div class="form-group col-md-4">
                <label>Track B</label>
                <p> A list of potential things that fall under this goal track</p>
                <div class=" col-sm-offset-1">
                    @Html.RadioButtonFor(m => m.GoalID, 2)
                </div>
            </div>
            <div class="form-group col-md-4">
                <label>Track C</label>
                <p> A list of potential things that fall under this goal track</p>
                <div class=" col-sm-offset-1">
                    @Html.RadioButtonFor(m => m.GoalID, 3)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary pull-right" value="Submit" />
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
