@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-id"></i>
            </div>
            <div class="header-title">
                <h3>My Financial Profile</h3>
                <small>
                    Get your money right playboi
                </small>
            </div>
        </div>
        <hr />
    </div>
</div>

<div class="col-sm-8 col-sm-offset-2 animated slideInUp">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> <i class="fa fa-usd"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false"><i class="fa fa-money"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false"><i class="fa fa-line-chart"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="true"> <i class="fa fa-shield"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false"><i class="fa fa-credit-card-alt"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false"><i class="fa fa-home"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-7" aria-expanded="false"><i class="fa fa-bolt"></i></a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-usd text-warning"></i></span> Income</b>
                    <p class="col-sm-offset-1">
                        Income before the outcome am I right?!
                    </p>
                    <row>
                        <ul class="media-list bs-example col-sm-12">
                            <li class="media">
                                <div class="media-body">
                                    <br />
                                    <text class="col-sm-8 text-accent">Let's get started with building your personal financial profile.</text>
                                    <br />
                                    <hr />
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">Are You Employed?</div>
                                        <input type="checkbox" class="col-sm-offset-3 js-switch" />
                                    </div>
                                    <div id="employed" hidden="hidden">
                                        <div class="col-sm-12">
                                            <p class="col-sm-8 col-sm-offset-1">Is Your Position Paid Hourly or Salary?</p>
                                        </div>
                                        <div class="col-sm-offset-3">
                                            <div class="radio radio-success radio-inline">
                                                <input type="radio" id="hourly_radio" value="option1" name="selected">
                                                <label for="inlineRadio1"> Hourly </label>
                                            </div>
                                            <div class="radio radio-success radio-inline">
                                                <input type="radio" id="salary_radio" value="option2" name="selected">
                                                <label for="inlineRadio2"> Salary </label>
                                            </div>
                                        </div>
                                        <div id="salary" hidden="hidden">
                                            <div class="col-sm-12">
                                                <p class="col-sm-8 col-sm-offset-2">What's Your Yearly Salary? <small class="text-accent"> (Don't worry about taxes)</small></p>
                                            </div>
                                            <div class="col-sm-4 col-sm-offset-3">
                                                <input class="form-control" id="salary_pay" placeholder="$" />
                                            </div>
                                            <div class="col-sm-12"> <text class="text-accent pull-right"> $ xxx,xxx / month</text></div>
                                        </div>
                                        <div id="hourly" hidden="hidden">
                                            <div class="col-sm-12">
                                                <p class="col-sm-8 col-sm-offset-2">How Much Do You Make Per Hour? <small class="text-accent"></small></p>
                                            </div>
                                            <div class="col-sm-4 col-sm-offset-3">
                                                <input class="form-control" id="hourly_pay" placeholder="$" />
                                            </div>
                                            <div class="col-sm-12">
                                                <p class="col-sm-12 col-sm-offset-2">How Many Hours Do You Usually Work Each Week? <small class="text-accent"> (On average)</small></p>
                                            </div>
                                            <div class="col-sm-4 col-sm-offset-3">
                                                <input class="form-control" id="hourly_pay" placeholder="" />
                                            </div>
                                            <div class="col-sm-12"> <text class="text-accent pull-right"> $ xxx,xxx / month</text></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <br />
                                        <hr />
                                        <div class="col-sm-12"> <text class="text-accent pull-right">Monthly Income: $xxx,xxx </text></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-money text-warning"></i></span> Cash</b>
                    <p class="col-sm-offset-1">Rules Everything Around Me</p>
                    <row>
                        <br />
                        @foreach (var accounttype in Model.AccountTypeList)
                        {
                            if (accounttype.ToString().Equals("depository"))
                            {
                        <ul class="media-list bs-example">
                            <li class="media">
                                <div class="media-body">
                                    @foreach (var account in Model.Account_list)
                                            {
                                                if (account.Account_Type.Equals(accounttype.ToString()))
                                                {
                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="media-heading">
                                                        <row>
                                                            @if (@account.AccountName.Length > 20)
                                                                    {<p class="text-warning"> @account.AccountName.ToString().Substring(0, 20)...<text class="pull-right text-success">$@account.Balance</text></p> }
                                                                    else
                                                                    {<p class="text-warning"> @account.AccountName.ToString()<text class="pull-right text-success">$@account.Balance</text></p> }
                                                        </row>
                                                    </div>
                                                </li>
                                            </ul>
                                                }
                                            }
                                </div>
                            </li>
                        </ul>
                            }
                        }
                        <row>
                            <text class="c-white">Total Cash</text>
                            <text class="text-success pull-right">[SUM]</text>
                        </row>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-line-chart text-warning"></i></span> Investments</b>
                    <p class="col-sm-offset-1">Making it rain BOI</p>
                    <row>
                        <br />
                        @foreach (var accounttype in Model.AccountTypeList)
                        {
                            if (accounttype.ToString().Equals("brokerage") || accounttype.ToString().Equals("other"))
                            {
                        <ul class="media-list bs-example">
                            <li class="media">
                                <div class="media-body">
                                    @foreach (var account in Model.Account_list)
                                            {
                                                if (account.Account_Type.Equals(accounttype.ToString()))
                                                {
                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="media-heading">
                                                        <row>
                                                            @if (@account.AccountName.Length > 20)
                                                                    {<p class="text-warning"> @account.AccountName.ToString().Substring(0, 20)...<text class="pull-right text-success">$@account.Balance</text></p> }
                                                                    else
                                                                    {<p class="text-warning"> @account.AccountName.ToString()<text class="pull-right text-success">$@account.Balance</text></p> }
                                                        </row>
                                                    </div>
                                                </li>
                                            </ul>
                                                }
                                            }

                                </div>
                            </li>
                        </ul>
                            }
                        }
                        <row>
                            <text class="c-white">Total Investments</text>
                            <text class="text-success pull-right">[SUM]</text>
                        </row>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-shield text-warning"></i></span> Insurance</b>
                    <p class="col-sm-offset-1">
                        PROTECT YA NECK
                    </p>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-credit-card-alt text-warning"></i></span> Debt</b>
                    <p class="col-sm-offset-1">
                        Everyone's got skin in the game
                    </p>
                    <row>
                        <br />
                        @foreach (var accounttype in Model.AccountTypeList)
                        {
                            if (accounttype.ToString().Equals("credit") || accounttype.ToString().Equals("loan"))
                            {
                        <ul class="media-list bs-example">
                            <li class="media">
                                <div class="media-body">
                                    @foreach (var account in Model.Account_list)
                                            {
                                                if (account.Account_Type.Equals(accounttype.ToString()))
                                                {
                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="media-heading">
                                                        <row>
                                                            @if (@account.AccountName.Length > 20)
                                                                    {<p class="text-warning"> @account.AccountName.ToString().Substring(0, 20)...<text class="pull-right text-success">$@account.Balance</text></p> }
                                                                    else
                                                                    {<p class="text-warning"> @account.AccountName.ToString()<text class="pull-right text-success">$@account.Balance</text></p> }
                                                        </row>
                                                    </div>
                                                </li>
                                            </ul>
                                                }
                                            }
                                </div>
                            </li>
                        </ul>
                            }
                        }
                        <row>
                            <text class="c-white">Total Debt</text>
                            <text class="text-success pull-right">[SUM]</text>
                        </row>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-6" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-home text-warning"></i></span> Housing</b>
                    <p class="col-sm-offset-1">
                        Whole Crew Loungin'
                    </p>
                    <row>
                        <br />
                        @foreach (var accounttype in Model.AccountTypeList)
                        {

                            if (accounttype.ToString().Equals("mortgage"))
                            {
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    @foreach (var account in Model.Account_list)
                                            {
                                                if (account.Account_Type.Equals(accounttype.ToString()))
                                                {
                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="media-heading">
                                                        <row>
                                                            @if (@account.AccountName.Length > 20)
                                                                    {<p class="text-warning"> @account.AccountName.ToString().Substring(0, 20)...<text class="pull-right text-success">$@account.Balance</text></p> }
                                                                    else
                                                                    {<p class="text-warning"> @account.AccountName.ToString()<text class="pull-right text-success">$@account.Balance</text></p> }
                                                        </row>
                                                    </div>
                                                </li>
                                            </ul>
                                                }
                                            }
                                </div>
                            </li>
                        </ul>
                            }
                        }
                        <row>
                            <text class="c-white">Total Housing Expense</text>
                            <text class="text-success pull-right">[SUM]</text>
                        </row>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-7" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-bolt text-warning"></i></span> Summary</b>
                    <p class="col-sm-offset-1">
                        Take a look and make sure everything looks cool (don't worry you can change this later if something changes)
                    </p>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-info btnNext pull-right">Looks Good</a>
                        </div>
                    </row>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tab Scripts-->
<script>
    //Next and Back Button
    $('.btnNext').click(function () {
        $('.nav-tabs > .active').next('li').find('a').trigger('click');
    });

    $('.btnPrevious').click(function () {
        $('.nav-tabs > .active').prev('li').find('a').trigger('click');
    });

    //Make the check box look like a cool switch
    $(document).ready(function () {
        var elem = document.querySelector('.js-switch');
        var elem = new Switchery(elem, { color: '#1bbf89', size: 'small' });
    });

    //Show/Hide next question if switch is hit
    $('.js-switch').change(function () {
        if ($(this).prop("checked")) {
            $('#employed').show();
        } else {
            $('#employed').hide();
        }
    });

    $('#salary_radio').change(function (event) {
        if ($('#salary_radio').is(':checked')) {
            $('#salary').show();
            $('#hourly').hide();
        }   
    });
    $('#hourly_radio').change(function (event) {
        if ($('#hourly_radio').is(':checked')) {
            $('#hourly').show();
            $('#salary').hide();
        }
    });


</script>
