@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-id"></i>
            </div>
            <div class="header-title">
                <h3>Financial Profile</h3>
                <small>
                    Know Yourself, Know Your Worth
                </small>
            </div>
        </div>
        <hr />
    </div>
</div>

<div class="col-sm-8 col-sm-offset-2 animated slideInUp">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> <i class="fa fa-usd"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false"><i class="fa fa-money"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false"><i class="fa fa-line-chart"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="true"> <i class="fa fa-shield"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false"><i class="fa fa-credit-card-alt"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false"><i class="fa fa-home"></i></a></li>
            <li class=""><a data-toggle="tab" href="#tab-7" aria-expanded="false"><i class="fa fa-bolt"></i></a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-usd text-warning"></i></span> Income</b>
                    <p class="col-sm-offset-1 c-white">
                        Income before the outcome am I right?
                    </p>
                    <row>
                        <div class="bs-example col-sm-12">
                            <div>
                                <br />
                                <text class="text-accent">First thing's first - how much are you bringing in each month?</text>
                                <br />
                                <hr />
                                <div class="col-sm-12">
                                    <div class="col-sm-3">Are You Employed?</div>
                                    <input type="checkbox" class="col-sm-offset-3 js-switch" />
                                </div>
                                <div id="employed" hidden="hidden">
                                    <div class="col-sm-12">
                                        <p class="col-sm-8 col-sm-offset-1">Is Your Position Paid Hourly or Salary?</p>
                                    </div>
                                    <div class="col-sm-offset-3">
                                        <div class="radio radio-success radio-inline">
                                            <input type="radio" id="hourly_radio" value="option1" name="selected">
                                            <label for="inlineRadio1"> Hourly </label>
                                        </div>
                                        <div class="radio radio-success radio-inline">
                                            <input type="radio" id="salary_radio" value="option2" name="selected">
                                            <label for="inlineRadio2"> Salary </label>
                                        </div>
                                    </div>
                                    <div id="salary" hidden="hidden">
                                        <div class="col-sm-12">
                                            <p class="col-sm-8 col-sm-offset-2">What's Your Yearly Salary? <small class="text-accent"> (Don't worry about taxes)</small></p>
                                        </div>
                                        <div class="col-sm-4 col-sm-offset-3">
                                            <input class="form-control" id="salary_pay" placeholder="$" />
                                        </div>
                                        <div class="col-sm-12"> <text class="text-accent pull-right" id="monthly_salary">$0 / month</text></div>
                                    </div>
                                    <div id="hourly" hidden="hidden">
                                        <div class="col-sm-12">
                                            <p class="col-sm-8 col-sm-offset-2">How Much Do You Make Per Hour? <small class="text-accent"></small></p>
                                        </div>
                                        <div class="col-sm-4 col-sm-offset-3">
                                            <input class="form-control" id="hourly_pay" placeholder="$" />
                                        </div>
                                        <div class="col-sm-12">
                                            <p class="col-sm-12 col-sm-offset-2">How Many Hours Do You Usually Work Each Week? <small class="text-accent"> (On average)</small></p>
                                        </div>
                                        <div class="col-sm-4 col-sm-offset-3">
                                            <input class="form-control" id="hourly_time" placeholder="" />
                                        </div>
                                        <div class="col-sm-12"> <text class="text-accent pull-right" id="monthly_hourly"> $0 / month</text></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">Do You Have Any Other Income Sources?</div>
                                    <input type="checkbox" class="col-sm-offset-2 js-switch2" />
                                </div>
                                <div id="other_inc" hidden="hidden">
                                    <div>
                                        <div>
                                            <label class="col-sm-2 col-sm-offset-1 control-label">Amount</label>
                                            <div class="col-sm-5"><input class="form-control" id="other_amount"></div>
                                        </div>
                                        <div class="col-sm-10">
                                            <label class="col-sm-3 col-sm-offset-1 control-label">Frequency</label>
                                            <div class="radio radio-success radio-inline">
                                                <input type="radio" id="other_weekly" value="option1" name="other_freq">
                                                <label for="inlineCheckbox1"> Weekly </label>
                                            </div>
                                            <div class="radio radio-success radio-inline">
                                                <input type="radio" id="other_m" value="option2" name="other_freq">
                                                <label for="inlineCheckbox2"> Monthly </label>
                                            </div>
                                            <div class="radio radio-success radio-inline">
                                                <input type="radio" id="other_yearly" value="option3" name="other_freq">
                                                <label for="inlineCheckbox2"> Yearly </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12"> <text class="text-accent pull-right" id="other_monthly"> $0 / month</text></div>
                                </div>
                                <div class="col-sm-12">
                                    <hr />
                                    <text class="c-white pull-right" id="total_monthly">Total Income: $0 / month</text>
                                </div>
                                <br />
                            </div>
                        </div>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-money text-warning"></i></span> Cash</b>
                    <p class="col-sm-offset-1 c-white">Rules Everything Around Me</p>
                    <row>
                        <div class="bs-example">
                            <br />
                            <text class="text-accent">We snagged these balances from your cash accounts. Take a look and make sure it's all cool</text>
                            <br />
                            <hr />
                            @foreach (var accounttype in Model.AccountTypeList)
                            {
                                if (accounttype.Accounttype.Equals("depository"))
                                {
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-body">
                                        @foreach (var account in Model.Account_list)
                                                {
                                                    if (account.Account_Type.Equals(accounttype.Accounttype))
                                                    {
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-heading">
                                                    <row>
                                                        @if (@account.AccountName.Length > 20)
                                                                        {<p class="c-white"> @account.AccountName.Substring(0, 20)...<text class="pull-right text-success">@String.Format("{0:C}", account.Balance)</text></p> }
                                                                        else
                                                                        {<p class="c-white"> @account.AccountName<text class="pull-right text-success">@String.Format("{0:C}", account.Balance)</text></p> }
                                                    </row>
                                                </div>
                                            </li>
                                        </ul>
                                                    }
                                                }
                                    </div>
                                </li>
                            </ul>
                            <hr />
                            <div class="col-sm-12">
                                <text class="c-white pull-right" id="total_cash">Total Cash: @accounttype.Accounttype_sum</text>
                            </div>
                            <br />
                                }
                            }
                        </div>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-line-chart text-warning"></i></span> Investments</b>
                    <p class="col-sm-offset-1 c-white">Making it rain BOI</p>
                    <row>
                        <div class="bs-example">
                            <br />
                            <text class="text-accent">Your investment, retirement & 'other' account balances</text>
                            <br />
                            <hr />
                            @foreach (var accounttype in Model.AccountTypeList)
                            {
                                if (accounttype.Accounttype.Equals("brokerage") || accounttype.Accounttype.Equals("other"))
                                {
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-body">
                                        @foreach (var account in Model.Account_list)
                                                {
                                                    if (account.Account_Type.Equals(accounttype.Accounttype.ToString()))
                                                    {
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-heading">
                                                    <row>
                                                        @if (@account.AccountName.Length > 20)
                                                                        {<p class="c-white"> @account.AccountName.ToString().Substring(0, 20)...<text class="pull-right text-success">@String.Format("{0:C}", account.Balance)</text></p> }
                                                                        else
                                                                        {<p class="c-white"> @account.AccountName.ToString()<text class="pull-right text-success">@String.Format("{0:C}", account.Balance)</text></p> }
                                                    </row>
                                                </div>
                                            </li>
                                        </ul>
                                                    }
                                                }
                                    </div>
                                </li>
                            </ul>
                            <hr />
                            <div class="col-sm-12">
                                <text class="c-white pull-right" id="total_investment">Total Investments: @accounttype.Accounttype_sum</text>
                            </div>
                            <br />
                                }
                            }
                        </div>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-shield text-warning"></i></span> Insurance</b>
                    <p class="col-sm-offset-1 c-white">
                        Protect Ya Neck
                    </p>
                    <row>
                        <div class="bs-example col-sm-12">
                            <br />
                            <text class="text-accent">Home, auto, life or whatever - protect yourself before you wreck yourself</text>
                            <br />
                            <hr />
                            <div class="col-sm-12">
                                <div class="col-sm-4">Do you have health insurance?</div>
                                <input type="checkbox" class="col-sm-offset-3 js-switch3" />
                            </div>
                            <form class="form-horizontal" id="health_view" hidden="hidden">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Health </label>
                                    <div class="col-sm-4"><input class="form-control" id="health_ins" placeholder="$"></div>
                                </div>
                            </form>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Home </label>
                                    <div class="col-sm-4"><input class="form-control" id="home_ins" placeholder="$"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Auto </label>
                                    <div class="col-sm-4"><input class="form-control" id="auto_ins" placeholder="$"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Life </label>
                                    <div class="col-sm-4"><input class="form-control" id="life_ins" placeholder="$"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Other </label>
                                    <div class="col-sm-4"><input class="form-control" id="other_ins" placeholder="$"></div>
                                </div>
                            </form>
                            <div class="col-sm-12">
                                <hr />
                                <text class="c-white pull-right" id="total_insurance">Monthly Insurance Expense: $0 </text>
                            </div>
                            <br />
                        </div>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-credit-card-alt text-warning"></i></span> Debt</b>
                    <p class="col-sm-offset-1 c-white">
                        Everyone's got skin in the game
                    </p>
                    <row>
                        <div class="bs-example">
                            <br />
                            <text class="text-accent">We snagged these debt balances from your accounts. Take a look and make sure it's all cool</text>
                            <br />
                            <hr />
                            @foreach (var accounttype in Model.AccountTypeList)
                            {
                                if (accounttype.Accounttype.Equals("credit") || accounttype.Accounttype.Equals("loan"))
                                {
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-body">
                                        @foreach (var account in Model.Account_list)
                                                {
                                                    if (account.Account_Type.Equals(accounttype.Accounttype))
                                                    {
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-heading">
                                                    <row>
                                                        @if (@account.AccountName.Length > 20)
                                                                        {<p class="c-white"> @account.AccountName.Substring(0, 20)...<text class="pull-right text-success">@String.Format("{0:C}", account.Balance)</text></p> }
                                                                        else
                                                                        {<p class="c-white"> @account.AccountName<text class="pull-right text-success">@String.Format("{0:C}", account.Balance)</text></p> }
                                                    </row>
                                                </div>
                                            </li>
                                        </ul>
                                                    }
                                                }
                                    </div>
                                </li>
                            </ul>
                            <hr />
                            <div class="col-sm-12">
                                <text class="c-white pull-right" id="total_debt">Total Debt: @accounttype.Accounttype_sum</text>
                            </div>
                            <br />
                                }
                            }
                        </div>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-6" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-home text-warning"></i></span> Housing</b>
                    <p class="col-sm-offset-1 c-white">
                        Whole Crew Loungin'
                    </p>
                    <row>
                        <div class="col-sm-12 bs-example">
                            <div>
                                <br />
                                <text class="text-accent">Think of it like Cribs, except like not even remotely close</text>
                                <br />
                                <hr />
                                <div class="col-sm-12">
                                    <p class="col-sm-6">Do you Own or Rent?</p>
                                </div>
                                <div class="col-sm-offset-2">
                                    <div class="radio radio-success radio-inline">
                                        <input type="radio" id="own_radio" value="option1" name="selected">
                                        <label for="inlineRadio1"> Own </label>
                                    </div>
                                    <div class="radio radio-success radio-inline">
                                        <input type="radio" id="rent_radio" value="option2" name="selected">
                                        <label for="inlineRadio2"> Rent </label>
                                    </div>
                                </div>
                                <div id="own" hidden="hidden">
                                    @foreach (var accounttype in Model.AccountTypeList)
                                {
                                    if (accounttype.ToString().Equals("mortgage"))
                                    {
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-body">
                                                @foreach (var account in Model.Account_list)
                                                    {
                                                        if (account.Account_Type.Equals(accounttype.Accounttype))
                                                        {
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <div class="media-heading">
                                                            <row>
                                                                @if (@account.AccountName.Length > 20)
                                                                            {<p class="c-white"> @account.AccountName.Substring(0, 20)...<text class="pull-right text-success">@String.Format("{0:C}", account.Balance)</text></p> }
                                                                            else
                                                                            {<p class="c-white"> @account.AccountName<text class="pull-right text-success">@String.Format("{0:C}", account.Balance)</text></p> }
                                                            </row>
                                                        </div>
                                                    </li>
                                                </ul>
                                                        }
                                                    }
                                            </div>
                                        </li>
                                    </ul>
                                    }
                                }
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Mortgage Payment </label>
                                            <div class="col-sm-4"><input class="form-control" id="mortgage" placeholder="$"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Taxes </label>
                                            <div class="col-sm-4"><input class="form-control" id="taxes" placeholder="$"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Total </label>
                                            <div class="col-sm-4"><input class="form-control" id="housing_subtotal" placeholder="$"></div>
                                            <div class="col-sm-12 col-sm-offset-3"><small class="text-accent">If you don't know your breakdown, just enter your total monthly payment here</small></div>
                                        </div>
                                    </form>
                                </div>
                                <div id="rent" hidden="hidden">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Rent Payment</label>
                                            <div class="col-sm-4"><input class="form-control" id="rent_payment" placeholder="$"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-12">
                                    <hr />
                                    <text class="c-white pull-right" id="housing_total">Total Housing: $0 / month</text>
                                </div>
                                <br />
                            </div>
                            <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-bolt text-warning"></i></span> Utilities</b>
                            <row>
                                <div class="col-sm-12 bs-example">
                                    <div>
                                        <text class="text-accent">
                                            Can you pay my bills? Can you pay my telephone bills?
                                        </text>
                                        <br />
                                        <hr />
                                        <div class="col-sm-12">
                                            <p class="col-sm-12">What are your monthly utilities?</p>
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Electric </label>
                                                <div class="col-sm-4"><input class="form-control" id="electric" placeholder="$"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Gas </label>
                                                <div class="col-sm-4"><input class="form-control" id="gas" placeholder="$"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Internet </label>
                                                <div class="col-sm-4"><input class="form-control" id="internet" placeholder="$"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Other </label>
                                                <div class="col-sm-4"><input class="form-control" id="other_util" placeholder="$"></div>
                                            </div>
                                        </form>
                                        <div class="col-sm-12">
                                            <hr />
                                            <text class="c-white pull-right" id="total_util">Total Utilities: $0 / month</text>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </row>
                        </div>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-accent btnNext pull-right"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </row>
                </div>
            </div>
            <div id="tab-7" class="tab-pane">
                <div class="panel-body">
                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-trophy text-warning"></i></span> Summary</b>
                    <p class="col-sm-offset-1 c-white">
                        Take a look and make sure everything looks good
                    </p>
                    <row>
                        <div class=" col-sm-12 bs-example">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="row">
                                    <br />
                                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-usd text-warning"></i></span> Income</b>
                                    <a href='/Account/Profiler#tab-1'><i class="pull-right fa fa-pencil text-accent"></i></a>
                                </div>
                                    <div class="row">
                                        <br />
                                        <text class="col-sm-6 c-white">Work Income</text>
                                        <div class="pull-right text-success" id="income_work">$0 </div>
                                    </div>
                                    <div class="row">
                                        <text class="col-sm-6 c-white">Other Income </text>
                                        <div class="pull-right text-success" id="income_other">$0</div>
                                    </div>
                                    <div class="row">
                                        <hr />
                                        <text class="col-sm-6 c-accent">Total Income </text>
                                        <div class="pull-right text-success" id="income_sum">$0</div>
                                    </div>
                                <div class="row">
                                    <br />
                                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-shield text-warning"></i></span> Insurance</b>
                                    <a href='/Account/Profiler#tab-1'><i class="pull-right fa fa-pencil text-accent"></i></a>
                                </div>
                                <div class="row">
                                    <br />
                                    <text class="col-sm-6 c-white">Health</text>
                                    <div class="pull-right text-danger" id="income_work">$0 </div>
                                </div>
                                <div class="row">
                                    <text class="col-sm-6 c-white">Home</text>
                                    <div class="pull-right text-danger" id="income_other">$0</div>
                                </div>
                                <div class="row">
                                    <text class="col-sm-6 c-white">Life</text>
                                    <div class="pull-right text-danger" id="income_other">$0</div>
                                </div>
                                <div class="row">
                                    <text class="col-sm-6 c-white">Other</text>
                                    <div class="pull-right text-danger" id="income_other">$0</div>
                                </div>
                                <div class="row">
                                    <hr />
                                    <text class="col-sm-6 c-accent">Total Insurance</text>
                                    <div class="pull-right text-danger" id="insurance_sum">$0</div>
                                </div>
                                <div class="row">
                                    <br />
                                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-home text-warning"></i></span> Housing</b>
                                    <a href='/Account/Profiler#tab-1'><i class="pull-right fa fa-pencil text-accent"></i></a>
                                </div>
                                <div class="row">
                                    <hr />
                                    <text class="col-sm-6 c-accent">Total Housing </text>
                                    <div class="pull-right text-danger" id="housing_sum">$0</div>
                                </div>
                                <div class="row">
                                    <br />
                                    <b class="media-heading h3 c-white text-capitalize"><span class="h3"><i class="fa fa-bolt text-warning"></i></span> Utilities</b>
                                    <a href='/Account/Profiler#tab-1'><i class="pull-right fa fa-pencil text-accent"></i></a>
                                </div>
                                <div class="row">
                                    <br />
                                    <text class="col-sm-6 c-white">Electric</text>
                                    <div class="pull-right text-danger" id="income_work">$0 </div>
                                </div>
                                <div class="row">
                                    <text class="col-sm-6 c-white">Gas </text>
                                    <div class="pull-right text-danger" id="income_other">$0</div>
                                </div>
                                <div class="row">
                                    <text class="col-sm-6 c-white">Internet </text>
                                    <div class="pull-right text-danger" id="income_other">$0</div>
                                </div>
                                <div class="row">
                                    <text class="col-sm-6 c-white">Other </text>
                                    <div class="pull-right text-danger" id="income_other">$0</div>
                                </div>
                                <div class="row">
                                    <hr />
                                    <text class="col-sm-6 c-accent">Total Utilities </text>
                                    <div class="pull-right text-danger" id="util_sum">$0</div>
                                </div>
                            </div>
                        </div>
                    </row>
                    @*<row>
                        <div class="bs-example col-sm-12">
                            <div class="col-sm-6">
                                <h4 class="text-accent text-center">Monthly Cash Flow</h4>
                                <hr />
                                <div class="col-sm-12">
                                    <text class="col-sm-6 c-white">Income </text>
                                    <div class="pull-right text-success" id="income_sum">$0</div>
                                </div>
                                <div class="col-sm-12">
                                    <text class="col-sm-6 c-white">Insurance </text>
                                    <div class="pull-right text-danger" id="insurance_sum">$0</div>
                                </div>
                                <div class="col-sm-12">
                                    <text class="col-sm-6 c-white">Housing </text>
                                    <div class="pull-right text-danger" id="housing_sum">$0</div>
                                </div>
                                <div class="col-sm-12">
                                    <text class="col-sm-8 c-white">Utilities </text>
                                    <div class="pull-right text-danger" id="util_sum">$0</div>
                                </div>
                                <div class="col-sm-12">
                                    <hr />
                                    <text class="c-white pull-right" id="total_disc">Discretionary Income: $0.00 </text>
                                    <br />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h4 class="text-accent text-center">Net Worth</h4>
                                <hr />
                                <div class="col-sm-12">
                                    <br />
                                    <text class="col-sm-6 c-white">Total Cash </text>
                                    @foreach (var accounttype in Model.AccountTypeList)
                                    {
                                        if (accounttype.Accounttype.Equals("depository"))
                                        {<div class="pull-right text-success" id="cash_sum">@accounttype.Accounttype_sum</div>}
                                    }

                                </div>
                                <div class="col-sm-12">
                                    <text class="col-sm-6 c-white">Total Investment </text>
                                    @foreach (var accounttype in Model.AccountTypeList)
                                    {
                                        if (accounttype.Accounttype.Equals("brokerage") || accounttype.Accounttype.Equals("other"))
                                        {<div class="pull-right text-success" id="investment_sum">@accounttype.Accounttype_sum</div>}
                                    }

                                </div>
                                <div class="col-sm-12">
                                    <text class="col-sm-6 c-white">Total Debt</text>
                                    @foreach (var accounttype in Model.AccountTypeList)
                                    {
                                        if (accounttype.Accounttype.Equals("credit") || accounttype.Accounttype.Equals("loan"))
                                        {<div class="pull-right text-danger" id="debt_sum">@accounttype.Accounttype_sum</div> }
                                    }

                                    <br />
                                </div>
                                <div class="col-sm-12">
                                    <hr />
                                    <text class="c-white pull-right" id="net_worth">Net Worth: @Model.NetWorth </text>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </row>*@
                    <row>
                        <div class="col-sm-12">
                            <br />
                            <a class="btn btn-accent btnPrevious pull-left"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn btn-info btnNext pull-right" id="submitBtn">Save Profile</a>
                        </div>
                    </row>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tab Scripts-->
<script>
    //Income form function
    $(document).ready(function () {
        var wages, other, total_month;

        var health, home, auto, life, other_ins, total_ins;

        var mortgage, taxes, rent, total_housing;

        var electric, gas, internet, other_util, total_util;

        var total_disc, fixed_margin;

        $('.btnNext').click(function () {
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
        });

        $('.btnPrevious').click(function () {
            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        });

        var elem = document.querySelector('.js-switch');
        var elem = new Switchery(elem, { color: '#1bbf89', size: 'small' });

        var elem2 = document.querySelector('.js-switch2');
        var elem2 = new Switchery(elem2, { color: '#1bbf89', size: 'small' });

        var elem3 = document.querySelector('.js-switch3');
        var elem3 = new Switchery(elem3, { color: '#1bbf89', size: 'small' });

        //var elem4 = document.querySelector('.js-switch4');
        //var elem4 = new Switchery(elem4, { color: '#1bbf89', size: 'small' });

        //employed y/n switch
        $('.js-switch').change(function () {
            if ($(this).prop("checked")) {
                $('#employed').show();
            } else {
                $('#salary_pay').val('');
                $('#hourly_pay').val('');
                $('#hourly_time').val('');
                $('#monthly_hourly').text('$ 0.00 / month');
                $('#monthly_salary').text('$ 0.00 / month');
                wages = 0.0;
                total_month = isNaN(parseInt(wages) + parseInt(other)) ? 0.0 : parseInt(wages) + parseInt(other);
                $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month');
                $('#income_sum').text('$' + total_month)
                $('#employed').hide();

                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
            }
        });

        //other income y/n switch
        $('.js-switch2').change(function () {
            if ($(this).prop("checked")) {
                $('#other_inc').show();
            } else {
                $('#other_amount').val('');
                $('#other_monthly').text('$ 0.00 / month');
                other = 0.0;
                total_month = parseInt(wages) + parseInt(other);
                $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')

                $('#income_sum').text('$' + total_month)
                $('#other_inc').hide();

                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
            }
        });

        //health insurance y/n switch
        $('.js-switch3').change(function () {
            if ($(this).prop("checked")) {
                $('#health_view').show();
            } else {
                health = 0.0;
                $('#health_ins').val('');
                home = isNaN(home) ? 0.0 : home;
                auto = isNaN(auto) ? 0.0 : auto;
                life = isNaN(life) ? 0.0 : life;
                other_ins = isNaN(other_ins) ? 0.0 : other_ins;
                total_ins = parseInt(health) + parseInt(home) + parseInt(auto) + parseInt(life) + parseInt(other_ins);
                $('#total_insurance').text('Total Monthly Insurance: $' + total_ins + ' / month')
                $('#health_view').hide();

                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
            }
        });

        //salary radio
        $('#salary_radio').change(function (event) {
            if ($('#salary_radio').is(':checked')) {
                $('#salary').show();
                $('#hourly_pay').val('');
                $('#hourly_time').val('');
                $('#monthly_hourly').text('$ 0.00 / month');
                $('#total_monthly').text('$' + total_month + ' / month');
                wages = 0.0;
                total_month = parseInt(wages) + parseInt(other);
                $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
                $('#income_sum').text('$' + total_month)
                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')

                $('#hourly').hide();
            }
        });

        //hourly radio
        $('#hourly_radio').change(function (event) {
            if ($('#hourly_radio').is(':checked')) {
                $('#hourly').show();
                $('#salary_pay').val('');
                $('#monthly_salary').text('$ 0.00 / month');
                $('#total_monthly').text('$' + total_month + ' / month')
                $('#second_job').show();
                wages = 0.0;
                total_month = parseInt(wages) + parseInt(other);
                $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
                $('#income_sum').text('$' + total_month)
                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')

                $('#salary').hide();
            }
        });

        //own radio
        $('#own_radio').change(function (event) {
            if ($('#own_radio').is(':checked')) {
                rent = 0;
                total_housing = 0;
                $('#rent_payment').val('');
                $('#housing_total').text('Total Housing: $' + total_housing + ' / month')
                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
                $('#own').show();
                $('#rent').hide();
            }
        });

        //rent radio
        $('#rent_radio').change(function (event) {
            if ($('#rent_radio').is(':checked')) {
                mortgage = 0.0;
                taxes = 0.0;
                total_housing = 0.00;
                $('#mortgage').val('');
                $('#taxes').val('');
                $('#housing_subtotal').val('');
                $('#housing_total').text('Total Housing: $' + total_housing + ' / month')
                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
                $('#rent').show();
                $('#own').hide();
            }
        });

        //salary input
        $('#salary_pay').keyup(function () {
            var total = isNaN(parseInt($(this).val() / 12)) ? 0.00 : ($(this).val() / 12).toFixed(2)
            $('#monthly_salary').text('$' + total + ' / month');

            wages = total;
            other = isNaN(other) ? 0.0 : other;
            total_month = parseInt(wages) + parseInt(other);
            $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
            $('#income_sum').text('$' + total_month)

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        //hourly pay input
        $('#hourly_pay').keyup(function () {
            var total = isNaN(parseInt((($(this).val() * $('#hourly_time').val()) * 52) / 12)) ? 0.00 : ((($(this).val() * $('#hourly_time').val()) * 52) / 12).toFixed(2);
            wages = total;
            other = isNaN(other) ? 0.0 : other;
            total_month = parseInt(wages) + parseInt(other);

            $('#monthly_hourly').text('$' + total + ' / month');

            $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
            $('#income_sum').text('$' + total_month)

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : gas;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        //hourly hours input
        $('#hourly_time').keyup(function () {
            var total = isNaN(parseInt((($(this).val() * $('#hourly_pay').val()) * 52) / 12)) ? 0.00 : ((($(this).val() * $('#hourly_pay').val()) * 52) / 12).toFixed(2);

            wages = total;
            other = isNaN(other) ? 0.0 : other;
            total_month = parseInt(wages) + parseInt(other);

            $('#monthly_hourly').text('$' + total + ' / month');

            $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
            $('#income_sum').text('$' + total_month)

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        //other weekly radios
        $('#other_weekly').change(function (event) {
            if ($('#other_weekly').is(':checked')) {
                var total = isNaN(parseInt($('#other_amount').val())) ? 0.00 : (($('#other_amount').val() * 52) / 12).toFixed(2);
                other = total;
                wages = isNaN(wages) ? 0.0 : wages;
                total_month = parseInt(wages) + parseInt(other);

                $('#other_monthly').text('$' + total + ' / month');
                $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
                $('#income_sum').text('$' + total_month)

                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
            }
        });

        $('#other_m').change(function (event) {
            if ($('#other_m').is(':checked')) {
                var total = isNaN(parseInt($('#other_amount').val())) ? 0.00 : $('#other_amount').val();
                other = total;
                wages = isNaN(wages) ? 0.0 : wages;
                total_month = parseInt(wages) + parseInt(other);

                $('#other_monthly').text('$' + total + ' / month');
                $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
                $('#income_sum').text('$' + total_month)

                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
            }
        });

        $('#other_yearly').change(function (event) {
            if ($('#other_yearly').is(':checked')) {
                var total = isNaN(parseInt($('#other_amount').val())) ? 0.00 : ($('#other_amount').val() / 12).toFixed(2);

                other = total;
                wages = isNaN(wages) ? 0.0 : wages;
                total_month = parseInt(wages) + parseInt(other);

                $('#other_monthly').text('$' + total + ' / month');
                $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
                $('#income_sum').text('$' + total_month)

                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
            }
        });

        $('#other_amount').keyup(function () {
            if ($('#other_weekly').is(':checked')) {
                var total = isNaN(parseInt($('#other_amount').val())) ? 0.00 : (($('#other_amount').val() * 52) / 12).toFixed(2);

                other = total;
                wages = isNaN(wages) ? 0.0 : wages;
                total_month = parseInt(wages) + parseInt(other);

                $('#other_monthly').text('$' + total + ' / month');

                $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
                $('#income_sum').text('$' + total_month)

                total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
                $('#income_sum').text('$' + total_month);
                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);
                total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
                $('#util_sum').text('$' + total_util);

                total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
                total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
            }

            else if ($('#other_m').is(':checked')) {
                var total = isNaN(parseInt($('#other_amount').val())) ? 0.00 : $('#other_amount').val();

                other = total;
                wages = isNaN(wages) ? 0.0 : wages;
                total_month = parseInt(wages) + parseInt(other);

                $('#other_monthly').text('$' + total + ' / month');
                $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
                $('#income_sum').text('$' + total_month)

                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);

                total_disc = parseInt(total_month) - parseInt(total_ins) - parseInt(total_housing);
                fixed_margin = (((parseInt(total_ins) + parseInt(total_housing)) / (parseInt(total_month))) * 100).toFixed(0);

                $('#fixed_expense_margin').text(fixed_margin + '%');

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
            }

            else if ($('#other_yearly').is(':checked')) {
                var total = isNaN(parseInt($('#other_amount').val())) ? 0.00 : ($('#other_amount').val() / 12).toFixed(2);

                other = total;
                wages = isNaN(wages) ? 0.0 : wages;
                total_month = parseInt(wages) + parseInt(other);

                $('#other_monthly').text('$' + total + ' / month');
                $('#total_monthly').text('Total Monthly Income: $' + total_month + ' / month')
                $('#income_sum').text('$' + total_month)

                total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
                $('#insurance_sum').text('$' + total_ins);
                total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
                $('#housing_sum').text('$' + total_housing);

                total_disc = parseInt(total_month) - parseInt(total_ins) - parseInt(total_housing);
                fixed_margin = (((parseInt(total_ins) + parseInt(total_housing)) / (parseInt(total_month))) * 100).toFixed(0);

                $('#fixed_expense_margin').text(fixed_margin + '%');

                $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
            }

            else {
                $('#other_monthly').text('$ 0.00 / month');
                $('#total_monthly').text('Total Monthly Income: $ 0.00 / month')
            }
        });

        //insurance value inputs
        $('#health_ins').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            health = amount;
            home = isNaN(home) ? 0.0 : home;
            auto = isNaN(auto) ? 0.0 : auto;
            life = isNaN(life) ? 0.0 : life;
            other_ins = isNaN(other_ins) ? 0.0 : other_ins;
            total_ins = parseInt(health) + parseInt(home) + parseInt(auto) + parseInt(life) + parseInt(other_ins);
            $('#total_insurance').text('Total Monthly Insurance: $' + total_ins + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        $('#home_ins').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            home = amount;
            health = isNaN(home) ? 0.0 : health;
            auto = isNaN(auto) ? 0.0 : auto;
            life = isNaN(life) ? 0.0 : life;
            other_ins = isNaN(other_ins) ? 0.0 : other_ins;
            total_ins = parseInt(health) + parseInt(home) + parseInt(auto) + parseInt(life) + parseInt(other_ins);
            $('#total_insurance').text('Total Monthly Insurance: $' + total_ins + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        $('#auto_ins').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            auto = amount;
            health = isNaN(home) ? 0.0 : health;
            home = isNaN(auto) ? 0.0 : home;
            life = isNaN(life) ? 0.0 : life;
            other_ins = isNaN(other_ins) ? 0.0 : other_ins;
            total_ins = parseInt(health) + parseInt(home) + parseInt(auto) + parseInt(life) + parseInt(other_ins);
            $('#total_insurance').text('Total Monthly Insurance: $' + total_ins + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        $('#life_ins').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            life = amount;
            health = isNaN(home) ? 0.0 : health;
            auto = isNaN(auto) ? 0.0 : auto;
            home = isNaN(life) ? 0.0 : home;
            other_ins = isNaN(other_ins) ? 0.0 : other_ins;
            total_ins = parseInt(health) + parseInt(home) + parseInt(auto) + parseInt(life) + parseInt(other_ins);
            $('#total_insurance').text('Total Monthly Insurance: $' + total_ins + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        $('#other_ins').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            other_ins = other_ins;
            health = isNaN(home) ? 0.0 : health;
            auto = isNaN(auto) ? 0.0 : auto;
            life = isNaN(life) ? 0.0 : life;
            home = isNaN(other_ins) ? 0.0 : home;
            total_ins = parseInt(health) + parseInt(home) + parseInt(auto) + parseInt(life) + parseInt(other_ins);
            $('#total_insurance').text('Total Monthly Insurance: $' + total_ins + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        //Own value inputs
        $('#mortgage').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            mortgage = amount;
            taxes = isNaN(taxes) ? 0.0 : taxes;
            total_housing = parseInt(mortgage) + parseInt(taxes);
            $('#housing_subtotal').val(total_housing);
            $('#housing_total').text('Total Housing: $' + total_housing + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        $('#taxes').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            taxes = amount;
            mortgage = isNaN(mortgage) ? 0.0 : mortgage;
            total_housing = parseInt(mortgage) + parseInt(taxes);
            $('#housing_subtotal').val(total_housing);
            $('#housing_total').text('Total Housing: $' + total_housing + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        $('#housing_subtotal').keyup(function () {
            mortgage = 0;
            taxes = 0;
            total_housing = 0;
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            total_housing = amount;
            $('#mortgage').val('');
            $('#taxes').val('');
            $('#housing_total').text('Total Housing: $' + total_housing + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        //Rent value input
        $('#rent_payment').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            total_housing = amount;
            $('#housing_total').text('Total Housing: $' + total_housing + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        $('#electric').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            electric = amount;
            gas = isNaN(gas) ? 0.0 : gas;
            internet = isNaN(internet) ? 0.0 : internet;
            other_util = isNaN(other_util) ? 0.0 : other_util;
            total_util = parseInt(electric) + parseInt(gas) + parseInt(internet) + parseInt(other_util);
            $('#total_util').text('Total Utilities: $' + total_util + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        $('#gas').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            gas = amount;
            electric = isNaN(electric) ? 0.0 : electric;
            internet = isNaN(internet) ? 0.0 : internet;
            other_util = isNaN(other_util) ? 0.0 : other_util;
            total_util = parseInt(electric) + parseInt(gas) + parseInt(internet) + parseInt(other_util);
            $('#total_util').text('Total Utilities: $' + total_util + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        $('#internet').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            internet = amount;
            gas = isNaN(gas) ? 0.0 : gas;
            electric = isNaN(electric) ? 0.0 : electric;
            other_util = isNaN(other_util) ? 0.0 : other_util;
            total_util = parseInt(electric) + parseInt(gas) + parseInt(internet) + parseInt(other_util);
            $('#total_util').text('Total Utilities: $' + total_util + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });

        $('#other_util').keyup(function () {
            var amount = isNaN(parseInt($(this).val())) ? 0.00 : $(this).val();

            other_util = amount;
            gas = isNaN(gas) ? 0.0 : gas;
            electric = isNaN(electric) ? 0.0 : electric;
            internet = isNaN(internet) ? 0.0 : internet;
            total_util = parseInt(electric) + parseInt(gas) + parseInt(internet) + parseInt(other_util);
            $('#total_util').text('Total Utilities: $' + total_util + ' / month')

            total_month = isNaN(parseInt(total_month)) ? 0.0 : parseInt(total_month);
            $('#income_sum').text('$' + total_month);
            total_ins = isNaN(parseInt(total_ins)) ? 0.0 : parseInt(total_ins);
            $('#insurance_sum').text('$' + total_ins);
            total_housing = isNaN(parseInt(total_housing)) ? 0.0 : parseInt(total_housing);
            $('#housing_sum').text('$' + total_housing);
            total_util = isNaN(parseInt(total_util)) ? 0.0 : parseInt(total_util);
            $('#util_sum').text('$' + total_util);

            total_disc = parseInt(total_ins) + parseInt(total_housing) + parseInt(total_util);
            total_disc = isNaN(parseInt(total_disc)) ? 0.0 : total_disc;

            $('#total_disc').text('Discretionary Income: $' + total_disc + ' / month')
        });
        
        $('#submitBtn').click(function (ev, picker) {
            $.post('@Url.Action("Profiler", "Account")',
                {
                    data: { Income: total_month , Fixed_Expenses: total_disc }
                });
        });
    });

</script>
