@model PersonalFinance.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Update Password";
}
<div class="container-center animated slideInDown">
    <div class="view-header">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-lock"></i>
        </div>
        <div class="header-title">
            <h3>Password Update</h3>
            <small>
                Enter the credentials below to update your password
            </small>
        </div>
    </div>
    <div class="panel panel-filled">
        <div class="panel-body">
            <p>
            </p>
            <section id="loginForm">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <row class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">Current Password</label>
                            <div>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </row>
                    <row class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">New Password</label>
                            <div>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </row>
                    <row class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">Re-Enter Password</label>
                            <div>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </row>
                    <div>
                        <a class="btn btn-accent pull-left" href="@Url.Action("Index","Manage")">Back</a>
                        <input type="submit" class="btn btn-info pull-right" value="Update" />
                    </div>
                }
            </section>
        </div>
    </div>
</div>