@model PersonalFinance.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="container-center animated slideInDown">
    <div class="view-header">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-science"></i>
        </div>
        <div class="header-title">
            <h3>Account Settings</h3>
            <small>
            </small>
        </div>
    </div>
    <div class="panel panel-filled">
        <div class="panel-body">
            <label>Email/Username</label>
            <div>
                @(Model.Email)
            </div>
            <br />
            <label>Password</label>
            <div>
                @Html.ActionLink("Change Password", "ChangePassword")
            </div>
            <br />
            <label>Phone Number</label>
            <div>
                <div>@(Model.PhoneNumber ?? "None")</div>
                <div>
                    @if (Model.PhoneNumber != null)
            {
                        @Html.ActionLink("Change Number", "AddPhoneNumber")
                    }
                </div>
            </div>
            <br />
            <a href="@Url.Action("Main", "Dashboard")" role="button" class="btn btn-info btn-block">All Set</a>
        </div>
    </div>
</div>