@model PersonalFinance.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.StatusMessage != null)
{
    <div class="alert alert-success container-fluid col-md-4 col-md-offset-4" role="alert">
        <div class="text-center">
            <b>Great! </b><span>@ViewBag.StatusMessage</span>
        </div>
    </div>
}

<div class="container-center animated slideInDown">
    <div class="view-header">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-science"></i>
        </div>
        <div class="header-title">
            <h3>Account Settings</h3>
            <small>
            </small>
        </div>
    </div>
    <div class="panel panel-filled">
        <div class="panel-body">
            <p class="text-center c-white">User Settings</p>
            <label>Email</label>
            <div>
                @(Model.Email)
            </div>
            <br />
            <label>Password</label>
            <div>
                @Html.ActionLink("Change Password", "ChangePassword")
            </div>
            <br />
            <label>Phone Number</label>
            <div>
                <div>@(Model.PhoneNumber ?? "None")</div>
                <div>
                    @if (Model.PhoneNumber != null)
            {
                        @Html.ActionLink("Change Number", "AddPhoneNumber")
                    }
                </div>
                <br />
            </div>
            <p class="text-center c-white">Financial Settings</p>
            <p>
                @Html.ActionLink("Update Profile", "Profiler", "Account")
            </p>
            <p>
                @Html.ActionLink("Manage Goals", "Goals", "Account")
            </p>
            <br />
            <a href="@Url.Action("Main", "Dashboard")" role="button" class="btn btn-info btn-block">All Set</a>
        </div>
    </div>
</div>