@model PersonalFinance.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Verify Phone Number";
}

<body class="blank">
    <!-- Wrapper-->
    <div class="wrapper">
        <!-- Main content-->
        <section>
            <div class="container-center animated slideInDown">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-door-lock"></i>
                    </div>
                    <div class="header-title">
                        <h3>Validate Code</h3>
                        <small>
                            Please enter the SMS verification code you received.
                        </small>
                    </div>
                </div>
                <div class="panel panel-filled">
                    <div class="panel-body">
                        <p>
                        </p>
                        <section id="loginForm">
                            @using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("phoneNumber", @Model.PhoneNumber)
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="row">
                                    <div>
                                        <label class="col-md-12">Validation Code</label>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                        </div>
                                        <span class="help-block small col-md-12"></span>
                                    </div>

                                </div>
                                <div>
                                    <input type="submit" class="btn btn-accent" value="Validate" />
                                    <a href="@Url.Action("AddPhoneNumber", "Manage")" class="btn btn-info">Resend Code</a>
                                </div>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- End main content-->
    </div>
</body>
<script src="~/Content/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/Content/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/vendor/sparkline/index.js"></script>
<script src="~/Content/vendor/chart.js/dist/Chart.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


