<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page title -->
    <title>FinanSeer | @ViewBag.Title</title>

    @Styles.Render("~/Content/daterangepicker")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/animate")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/helper")
    @Styles.Render("~/Content/stroke-icons-style")
    @Styles.Render("~/Content/styles/style")
    @Styles.Render("~/Content/pe-icons")

    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/respond")
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/sparkline")
    @Scripts.Render("~/bundles/Chart")
    @Scripts.Render("~/bundles/luna")
    @Scripts.Render("~/bundles/daterangepicker")
    @Scripts.Render("~/bundles/datatables")

</head>
<body>
    <!-- Navigation -->
    @if (Request.IsAuthenticated)
    {
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" data-toggle="collapse" data-target=".luna-nav" href="@Url.Action("Main","Dashboard")">
                        FinanSeer
                        <span>v.1.0</span>
                    </a>
                    <div class="nav navbar-right luna-nav">
                        <div>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    }
    @if (!Request.IsAuthenticated)
    {
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" data-toggle="collapse" data-target=".luna-nav" href="@Url.Action("Main","Dashboard")">
                        FinanSeer
                        <span>v.1.0</span>
                    </a>
                    <div class="nav navbar-right luna-nav">
                        <div>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    }
    <div class="container-fluid">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)


</body>
</html>
